---
import { allCategories, allTags } from '@/types/Post';
import { calcWordsAndReadingTime, formatDate } from '@/lib/posts';
import type { CollectionEntry } from 'astro:content';

interface Props {
    post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
const { wordCount, readingTime } = calcWordsAndReadingTime(post.body ?? '');
const formattedDate = formatDate(post.data.date);
---

<div
    class='duration-400 lg:h-68 my-3 h-fit rounded-2xl bg-slate-100 p-4 transition ease-in-out dark:bg-slate-900 xl:h-56'
>
    <div class='flex h-full flex-col gap-5 lg:flex-row'>
        <div
            class='relative flex h-52 w-full md:h-72 lg:h-auto lg:w-[20rem] xl:w-[16rem]'
        >
            <a href={`/blog/posts/${post.id}`}>
                <img
                    alt='Post preview image'
                    src={post.data.image ?? 'https://picsum.photos/300/250'}
                    class='absolute left-0 top-0 h-full w-full rounded-xl object-cover'
                />
            </a>
        </div>
        <div class='flex h-full w-full flex-col justify-between'>
            <div>
                <div
                    class='mb-2 flex flex-col items-start gap-1 sm:flex-row sm:justify-between'
                >
                    <span class='flex gap-1.5'>
                        <div
                            class='mr-1 flex h-6 w-6 items-center justify-center rounded-md bg-indigo-600/20 text-indigo-700/70 transition dark:bg-indigo-600/40 dark:text-indigo-100/80'
                        >
                            <svg
                                xmlns='http://www.w3.org/2000/svg'
                                viewBox='0 0 24 24'
                                fill='currentColor'
                                class='h-3 w-3'
                            >
                                <path
                                    d='M21.41 11.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58.55 0 1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41 0-.55-.23-1.06-.59-1.42zM5.5 7C4.67 7 4 6.33 4 5.5S4.67 4 5.5 4 7 4.67 7 5.5 6.33 7 5.5 7z'
                                ></path>
                            </svg>
                        </div>
                        <a
                            class='animated-underline focus-visible:ring-primary-300 rounded-sm text-sm font-medium text-blue-950 focus:outline-none focus-visible:ring dark:text-gray-200'
                            href={`/blog/categories/${post.data.category ?? 'uncategorized'}`}
                            aria-label={allCategories[post.data.category]}
                        >
                            {allCategories[post.data.category] ?? 'Uncategorized'}
                        </a>
                    </span>
                    <span class='flex justify-end gap-1 italic'>
                        <div
                            class='mr-1 flex h-6 w-6 items-center justify-center rounded-md bg-slate-900/10 text-black/55 transition dark:bg-white/10 dark:text-white/55'
                        >
                            <svg
                                xmlns='http://www.w3.org/2000/svg'
                                viewBox='0 0 24 24'
                                fill='currentColor'
                                class='h-3 w-3'
                            >
                                <path
                                    d='M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z'
                                ></path>
                            </svg>
                        </div>
                        {formattedDate}
                    </span>
                </div>
                <a href={`/blog/posts/${post.id}`}>
                    <div class='mb-3'>
                        <h1 class='hover:text-indigo-500'>{post.data.title}</h1>
                    </div>
                </a>
                <div class='mb-5'>{post.data.description}</div>
            </div>

            <div
                class='flex flex-col justify-between gap-1 md:flex-row lg:flex-col xl:flex-row'
            >
                <div class='flex gap-6'>
                    <span class='flex gap-1.5'>
                        <div
                            class='mr-1 flex h-6 w-6 items-center justify-center rounded-md bg-slate-900/10 text-black/55 transition dark:bg-white/10 dark:text-white/55'
                        >
                            <svg
                                xmlns='http://www.w3.org/2000/svg'
                                viewBox='0 0 24 24'
                                fill='currentColor'
                                class='h-3 w-3'
                            >
                                <path
                                    d='M14 17H4v2h10v-2zm6-8H4v2h16V9zM4 15h16v-2H4v2zM4 5v2h16V5H4z'
                                ></path>
                            </svg>
                        </div>
                        {wordCount} words
                    </span>
                    <span class='flex gap-1.5'>
                        <div
                            class='mr-1 flex h-6 w-6 items-center justify-center rounded-md bg-slate-900/10 text-black/55 transition dark:bg-white/10 dark:text-white/55'
                        >
                            <svg
                                xmlns='http://www.w3.org/2000/svg'
                                viewBox='0 0 24 24'
                                fill='currentColor'
                                class='h-3 w-3'
                            >
                                <path
                                    d='M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67V7z'
                                ></path>
                            </svg>
                        </div>
                        {readingTime}
                    </span>
                </div>
                {
                    post.data.tags && post.data.tags.length > 0 && (
                        <div class='flex flex-wrap gap-1'>
                            <div class='mr-1 flex h-6 w-6 items-center justify-center rounded-md bg-indigo-600/20 text-indigo-700/70 transition dark:bg-indigo-600/40 dark:text-indigo-100/80'>
                                <svg
                                    xmlns='http://www.w3.org/2000/svg'
                                    viewBox='0 0 24 24'
                                    fill='currentColor'
                                    class='h-3 w-3'
                                >
                                    <path d='M4 9v11h11l5-5V4H4v5zm9 10l-7-7V6h14v7.17L13 19zM9 9h6v2H9zm0 3h6v2H9zm0 3h4v2H9z' />
                                </svg>
                            </div>
                            {post.data.tags.map((tag) => (
                                <a
                                    href={`/blog/tags/${tag}`}
                                    class='rounded-md bg-indigo-300 px-1 py-0.5 text-sm font-semibold hover:brightness-110 dark:bg-indigo-900 dark:text-white dark:hover:brightness-125 sm:py-0 lg:text-base'
                                >
                                    {allTags[tag]}
                                </a>
                            ))}
                        </div>
                    )
                }
            </div>
        </div>
    </div>
</div>
