---
import { allCategories, allTags } from '@/types/Post';
import { calcWordsAndReadingTime, formatDate } from '@/lib/posts';
import PostImage from '@/components/PostImage';
import type { CollectionEntry } from 'astro:content';

interface Props {
    entry: CollectionEntry<'posts'>;
    body: string;
}

const { entry, body } = Astro.props;
const { title, category, tags, description, date, image } = entry.data;

const { wordCount, readingTime } = calcWordsAndReadingTime(body);
const formattedDate = formatDate(date);
---

<!-- Category / Tags / Date row -->
<div class='flex flex-col-reverse justify-start gap-1 sm:flex-row sm:justify-between'>
    <div class='flex flex-col gap-1 md:flex-row md:gap-5'>
        <span class='flex gap-1.5'>
            <div
                class='mr-1 flex h-6 w-6 items-center justify-center rounded-md bg-indigo-600/20 text-indigo-700/70 transition dark:bg-indigo-600/40 dark:text-indigo-100/80'
            >
                <svg
                    xmlns='http://www.w3.org/2000/svg'
                    viewBox='0 0 24 24'
                    fill='currentColor'
                    class='h-3 w-3'
                >
                    <path
                        d='M21.41 11.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58.55 0 1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41 0-.55-.23-1.06-.59-1.42zM5.5 7C4.67 7 4 6.33 4 5.5S4.67 4 5.5 4 7 4.67 7 5.5 6.33 7 5.5 7z'
                    ></path>
                </svg>
            </div>
            <a
                class='flex items-center text-sm font-medium text-blue-950 hover:text-blue-800 dark:text-gray-200'
                href={`/blog/categories/${category ?? 'uncategorized'}`}
                aria-label={allCategories[category]}
            >
                {allCategories[category] ?? 'Uncategorized'}
            </a>
        </span>

        {
            tags && tags.length > 0 && (
                <div class='flex flex-wrap gap-1'>
                    <div class='mr-1 flex h-6 w-6 items-center justify-center rounded-md bg-indigo-600/20 text-indigo-700/70 transition dark:bg-indigo-600/40 dark:text-indigo-100/80'>
                        <svg
                            xmlns='http://www.w3.org/2000/svg'
                            viewBox='0 0 24 24'
                            fill='currentColor'
                            class='h-3 w-3'
                        >
                            <path d='M4 9v11h11l5-5V4H4v5zm9 10l-7-7V6h14v7.17L13 19zM9 9h6v2H9zm0 3h6v2H9zm0 3h4v2H9z' />
                        </svg>
                    </div>
                    {tags.map((tag, index) => (
                        <span class='flex items-center gap-0.5'>
                            <a
                                href={`/blog/tags/${tag}`}
                                class='flex items-center text-sm font-medium text-blue-950 hover:text-blue-800 dark:text-gray-200'
                            >
                                {allTags[tag]}
                            </a>
                            {index !== tags.length - 1 && (
                                <span class='px-0.5 text-slate-900/50 dark:text-slate-50/50'>
                                    /
                                </span>
                            )}
                        </span>
                    ))}
                </div>
            )
        }
    </div>

    <span class='flex gap-1 italic'>
        <div
            class='mr-1 flex h-6 w-6 items-center justify-center rounded-md bg-slate-900/10 text-black/55 transition dark:bg-white/10 dark:text-white/55'
        >
            <svg
                xmlns='http://www.w3.org/2000/svg'
                viewBox='0 0 24 24'
                fill='currentColor'
                class='h-3 w-3'
            >
                <path
                    d='M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z'
                ></path>
            </svg>
        </div>
        {formattedDate}
    </span>
</div>

<!-- Title + reading time -->
<div class='flex flex-col'>
    <h1 class='mb-4 mt-2'>{title}</h1>

    <div class='flex gap-5 text-sm'>
        <span class='flex gap-1.5'>
            <div
                class='mr-1 flex h-5 w-5 items-center justify-center rounded-md bg-slate-900/10 text-black/55 transition dark:bg-white/10 dark:text-white/55'
            >
                <svg
                    xmlns='http://www.w3.org/2000/svg'
                    viewBox='0 0 24 24'
                    fill='currentColor'
                    class='h-3 w-3'
                >
                    <path d='M14 17H4v2h10v-2zm6-8H4v2h16V9zM4 15h16v-2H4v2zM4 5v2h16V5H4z'></path>
                </svg>
            </div>
            {wordCount} words
        </span>
        <span class='flex gap-1.5'>
            <div
                class='mr-1 flex h-5 w-5 items-center justify-center rounded-md bg-slate-900/10 text-black/55 transition dark:bg-white/10 dark:text-white/55'
            >
                <svg
                    xmlns='http://www.w3.org/2000/svg'
                    viewBox='0 0 24 24'
                    fill='currentColor'
                    class='h-3 w-3'
                >
                    <path
                        d='M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67V7z'
                    ></path>
                </svg>
            </div>
            {readingTime}
        </span>
    </div>
</div>

<!-- Hero image -->
{
    image && (
        <div class='mb-4 mt-2 flex justify-center'>
            <PostImage src={image} alt='Post preview image' client:load />
        </div>
    )
}

<!-- Description lead -->
<div class='my-6 text-xl font-semibold'>{description}</div>
