---
import { allCategories, allTags } from '@/types/Post';
import { calcWordsAndReadingTime, formatDate } from '@/lib/posts';
import BgIcon from '@/components/atoms/BgIcon.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
    post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
const { wordCount, readingTime } = calcWordsAndReadingTime(post.body ?? '');
const formattedDate = formatDate(post.data.date);
---

<div
    class='duration-400 lg:h-68 h-fit rounded-2xl bg-slate-100 p-4 transition ease-in-out dark:bg-slate-900 xl:h-56'
>
    <div class='flex h-full flex-col gap-5 lg:flex-row'>
        <div
            class='relative flex h-52 w-full md:h-72 lg:h-auto lg:w-[20rem] xl:w-[16rem]'
        >
            <a href={`/blog/posts/${post.id}`}>
                <img
                    alt='Post preview image'
                    src={post.data.image ?? 'https://picsum.photos/300/250'}
                    class='absolute left-0 top-0 h-full w-full rounded-xl object-cover'
                />
            </a>
        </div>
        <div class='flex h-full w-full flex-col justify-between'>
            <div>
                <div
                    class='mb-2 flex flex-col items-start gap-1 sm:flex-row sm:justify-between'
                >
                    <span class='flex gap-1.5'>
                        <BgIcon icon='fa6-solid:tag' accent />
                        <a
                            class='animated-underline focus-visible:ring-primary-300 rounded-sm text-sm font-medium text-blue-950 focus:outline-none focus-visible:ring dark:text-gray-200'
                            href={`/blog/categories/${post.data.category ?? 'uncategorized'}`}
                            aria-label={allCategories[post.data.category]}
                        >
                            {allCategories[post.data.category] ?? 'Uncategorized'}
                        </a>
                    </span>
                    <span class='flex justify-end gap-1 italic'>
                        <BgIcon icon='material-symbols:calendar-month-rounded' />
                        {formattedDate}
                    </span>
                </div>
                <a href={`/blog/posts/${post.id}`}>
                    <div class='mb-3'>
                        <h1 class='hover:text-indigo-500'>{post.data.title}</h1>
                    </div>
                </a>
                <div class='mb-5'>{post.data.description}</div>
            </div>

            <div
                class='flex flex-col justify-between gap-1 md:flex-row lg:flex-col xl:flex-row'
            >
                <div class='flex gap-6'>
                    <span class='flex gap-1.5'>
                        <BgIcon icon='bi:text-left' />
                        {wordCount} words
                    </span>
                    <span class='flex gap-1.5'>
                        <BgIcon icon='material-symbols:timer-outline' />
                        {readingTime}
                    </span>
                </div>
                {
                    post.data.tags && post.data.tags.length > 0 && (
                        <div class='flex flex-wrap gap-1'>
                            <BgIcon icon='fa6-solid:hashtag' accent />
                            {post.data.tags.map((tag) => (
                                <a
                                    href={`/blog/tags/${tag}`}
                                    class='rounded-md bg-indigo-300 px-1 py-0.5 text-sm font-semibold hover:brightness-110 dark:bg-indigo-900 dark:text-white dark:hover:brightness-125 sm:py-0 lg:text-base'
                                >
                                    {allTags[tag]}
                                </a>
                            ))}
                        </div>
                    )
                }
            </div>
        </div>
    </div>
</div>
