---
import { render, type CollectionEntry } from 'astro:content';
import BgIcon from '@/components/atoms/BgIcon.astro';

interface Props {
    update: CollectionEntry<'updates'>;
}

const { update } = Astro.props;
const { Content } = await render(update);

const formattedDate = update.data.date.toLocaleDateString('en-GB', {
    day: 'numeric',
    month: 'long',
    year: 'numeric',
});
---

<div
    id={update.id}
    data-tags={update.data.tags.join(',')}
    class='duration-400 h-auto rounded-2xl bg-slate-100 p-4 transition ease-in-out dark:bg-slate-900'
>
    <div class='flex h-full flex-col gap-5 lg:flex-row'>
        <div
            class='relative flex h-72 w-full lg:h-auto lg:w-[20rem] xl:w-[16rem]'
        >
            <img
                alt='Update image'
                src={update.data.image ?? 'https://picsum.photos/300/250'}
                class='absolute left-0 top-0 h-full w-full rounded-xl object-cover'
            />
        </div>
        <div class='flex h-full w-full flex-col justify-between'>
            <div>
                <div class='mb-2 flex flex-row items-start justify-between'>
                    <span class='flex justify-end gap-1 italic'>
                        <BgIcon icon='material-symbols:calendar-month-rounded' />
                        {formattedDate}
                    </span>

                    {
                        update.data.tags && update.data.tags.length > 0 && (
                            <div class='hidden sm:flex flex-wrap gap-1'>
                                <BgIcon icon='fa6-solid:hashtag' accent />
                                {update.data.tags.map((tag) => (
                                    <a
                                        href={`/updates?tags=${tag}`}
                                        class='rounded-md bg-indigo-300 px-1 text-sm font-semibold hover:brightness-110 dark:bg-indigo-900 dark:text-white dark:hover:brightness-125 lg:text-base'
                                    >
                                        {tag}
                                    </a>
                                ))}
                            </div>
                        )
                    }
                </div>

                <div class='mb-3'>
                    <h2>{update.data.title}</h2>
                </div>

                <div
                    class='update-body mb-2 h-fit font-updates text-sm sm:mb-4'
                >
                    <Content />
                </div>

                {
                    update.data.tags && update.data.tags.length > 0 && (
                        <div class='flex justify-end sm:hidden flex-wrap gap-1'>
                            <BgIcon icon='fa6-solid:hashtag' accent />
                            {update.data.tags.map((tag) => (
                                <a
                                    href={`/updates?tags=${tag}`}
                                    class='rounded-md bg-indigo-300 px-1 text-sm font-semibold hover:brightness-110 dark:bg-indigo-900 dark:text-white dark:hover:brightness-125 lg:text-base'
                                >
                                    {tag}
                                </a>
                            ))}
                        </div>
                    )
                }
            </div>
        </div>
    </div>
</div>
