---
import type { CollectionEntry } from 'astro:content';

interface Props {
    update: CollectionEntry<'updates'>;
}

const { update } = Astro.props;
const { Content } = await update.render();

const formattedDate = update.data.date.toLocaleDateString('en-GB', {
    day: 'numeric',
    month: 'long',
    year: 'numeric',
});
---

<div
    id={update.slug}
    class='duration-400 my-3 h-auto rounded-2xl bg-slate-100 p-4 transition ease-in-out dark:bg-slate-900'
>
    <div class='flex h-full flex-col gap-5 lg:flex-row'>
        <div
            class='relative flex h-72 w-full lg:h-auto lg:w-[20rem] xl:w-[16rem]'
        >
            <img
                alt='Update image'
                src={update.data.image ?? 'https://picsum.photos/300/250'}
                class='absolute left-0 top-0 h-full w-full rounded-xl object-cover'
            />
        </div>
        <div class='flex h-full w-full flex-col justify-between'>
            <div>
                <div class='mb-2 flex flex-row items-start justify-between'>
                    <span class='flex justify-end gap-1 italic'>
                        <div
                            class='mr-1 flex h-6 w-6 items-center justify-center rounded-md bg-slate-900/10 text-black/55 transition dark:bg-white/10 dark:text-white/55'
                        >
                            <svg
                                xmlns='http://www.w3.org/2000/svg'
                                viewBox='0 0 24 24'
                                fill='currentColor'
                                class='h-3 w-3'
                            >
                                <path
                                    d='M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z'
                                ></path>
                            </svg>
                        </div>
                        {formattedDate}
                    </span>

                    {
                        update.data.tags && update.data.tags.length > 0 && (
                            <div class='hidden sm:flex flex-wrap gap-1'>
                                {update.data.tags.map((tag) => (
                                    <a
                                        href={`/updates/tags/${tag}`}
                                        class='rounded-md bg-indigo-300 px-1 text-sm font-semibold hover:brightness-110 dark:bg-indigo-900 dark:text-white dark:hover:brightness-125 lg:text-base'
                                    >
                                        {tag}
                                    </a>
                                ))}
                            </div>
                        )
                    }
                </div>

                <div class='mb-3'>
                    <h2>{update.data.title}</h2>
                </div>

                <div
                    class='update-body mb-2 h-fit font-updates text-sm sm:mb-4'
                >
                    <Content />
                </div>

                {
                    update.data.tags && update.data.tags.length > 0 && (
                        <div class='flex justify-end sm:hidden flex-wrap gap-1'>
                            {update.data.tags.map((tag) => (
                                <a
                                    href={`/updates/tags/${tag}`}
                                    class='rounded-md bg-indigo-300 px-1 text-sm font-semibold hover:brightness-110 dark:bg-indigo-900 dark:text-white dark:hover:brightness-125 lg:text-base'
                                >
                                    {tag}
                                </a>
                            ))}
                        </div>
                    )
                }
            </div>
        </div>
    </div>
</div>
